*{
	margin: 0;
	padding: 0;
}

html{
	background-image: url("../img/axiom-pattern.png"), -moz-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), -webkit-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), -ms-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
}

/*SCROLLBAR CHROME, SAFARI, OPERA */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* FONTS & TITLES */

body{
	font-size: 16px;
	background-image: url("../img/axiom-pattern.png"), -moz-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), -webkit-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), -ms-linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
	background-image: url("../img/axiom-pattern.png"), linear-gradient(70deg, #fdfefe 35%, #eaeded 65%);
}

h1 {
	font-size: 30px;
	text-align: center;
}

h2 {
	font-size: 25px;
	text-align: center;
}

.title-bg{
	margin: 3% auto;
	width: 50%;
	height: 40px;
	background-color: #f2f3f4;
	box-shadow: 2px 1px 2px 1px rgba(0,0,0,.5);
	border-radius: 5px;
	padding: 7px 10px 5px 10px;
}

h3 {
	font-size: 20px;
	text-align: center;
}

a{
	color: #fff;
}

a:hover{
	color: #f2f3f4;
	text-decoration: none;
	transition: all ease .5;
}

a:focus{
	color: #999;
	text-decoration: none;
}

.sidebar-wrapper a:hover{
	color: #f2f3f4 !important;
}

.breadcrumb a{
	color: #555 !important;
}

.breadcrumb{
	box-shadow: 2px 1px 2px 1px rgba(0,0,0,.5);
	border-radius: 5px;
}

footer a:hover{
	color: #eaeded !important;
}

footer a:focus{
	color: #f2f3f4 !important;
}

.btn-width{
	width: 100%;
	text-align: center;
	margin: 0.5% auto;
}

.table button{
	border: 1px solid transparent !important;
}

.button-div .button{
	border: 1px solid transparent !important;
}

/* LOGIN */

.index{
	margin: 5% auto;
	width: 100%;
	max-width: 500px;
	box-shadow: 1px 2px 3px 2px rgba(0,0,0,.7);
	text-align: center;
	padding: 50px 30px;
	background-color: #fff;
}

.index img{
	width: 50%;
	max-width: 200px;
}

/* SIDEBAR */

#wrapper{
	color: #fff;
	text-align: center;
	z-index: 900;
}

#wrapper .fa{
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	margin: 5% auto 0 auto;
	font-size: 72px;
}

#sidebar-wrapper{
	position: fixed;
	height: 100%;
	min-height: 1000px;
	max-height: 3000px;
	z-index: 900;
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,.7);
	vertical-align: middle;
}

.sidebar-brand img{
	width: 50%;
	max-width: 100px;
	margin-top: 15px;
}

#sidebar-wrapper .sidebar-nav{
	list-style: none;
	margin-top: 10%;
}

#sidebar-wrapper hr{
	margin: 1%;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

#sidebar-wrapper li{
	width: 100%;
	text-align: center;
	padding: 5px 10px;
}

#sidebar-wrapper a{
	display: block;
	transition: 0.2s;
	text-shadow: 1px 2px 2px rgba(0,0,0,.5);
}

#sidebar-wrapper ul ul{
	width: 100%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	max-height: 0;
}

#sidebar-wrapper li:hover > ul{
	max-height: 500px;
	transition: max-height 0.25s ease-in;
}

.navbar-toggle{
	display: none;
	margin-top: -35px;
}

.sidebar-red{
	background-color: #cb4335 !important;
}

.sidebar-blue{
	background-color: #2e86c1 !important;
}

.sidebar-black{
	background-color: #17202a !important;
}

.sidebar-green{
	background-color: #229954 !important;
}

.sidebar-purple{
	background-color: #7d3c98 !important;
}

/*SECTION */

.container-section{
	padding: 0 10px 0 30px;
	top:0;
}

.row{
	width: 100%;
}

.panel{
	box-shadow: 2px 1px 2px 1px rgba(0,0,0,.5);
	border-radius: 5px;
	margin: auto;
}

/*HOME */

.box{
	color: #fff;
	height: 120px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

.icon-set{
	color: rgba(255,255,255,.7);
	font-size: 70px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.text-box .number{
	font-size: 30px;
	font-weight: 600;
	text-shadow: 1px 2px 1px rgba(0,0,0,.5);
}

.text-box .text{
	font-size: 16px;
}

.panel-purple{
	background-color: #7d3c98 !important;
}

.panel-blue{
	background-color: #2e86c1 !important;
}

.panel-green{
	background-color: #229954 !important;
}

.panel-red{
	background-color: #cb4335 !important;
}

.panel-chart{
	margin: 1%;
	padding: 10px 50px;
	width: 100%;
	text-align: center;
}

/*FOOTER*/

footer{
	bottom: 0;
	z-index: 900;
	position: fixed !important;
	color: #fff;
	text-align: center;
	width: 100%;
}

.footer-index{
	box-shadow: 1px 1px 2px 5px rgba(0,0,0,.5);
}

.footer-red{
	background-color: #cb4335 !important;
}

.footer-green{
	background-color: #229954 !important;
}

.footer-blue{
	background-color: #2e86c1 !important;
}

.footer-black{
	background-color: #17202a !important;
}

.footer-purple{
	background-color: #7d3c98 !important;
}

@media screen and (max-width: 1024px){

	.icon-set{
		font-size: 40px;
		text-align: center;
	}

	.text-box .number{
		font-size: 30px;
		text-align: center;
		margin-top: -20px;
	}

	.text-box .text{
		font-size: 16px;
		text-align: center;
		margin-top: -20px;
	}

	#sidebar-wrapper{
		position: fixed;
		height: 100%;
		min-height: 150px;
		max-height: 900px;
		z-index: 900;
		box-shadow: 2px 2px 3px 2px rgba(0,0,0,.7);
		width: 25%;
	}

	.title-bg{
		margin: 12% auto 4% auto;
		width: 100%;
		height: 60px;
	}

	.navbar-toggle{
		opacity: 0;
		display: none;
	}

	.container-section{
		margin-bottom: 15%;
	}

}

@media screen and (max-width: 767.9px){
	#sidebar-wrapper{
		position: fixed;
		height: 100%;
		min-height: 10px;
		max-height: 50px;
		z-index: 900;
		box-shadow: 2px 2px 3px 2px rgba(0,0,0,.7);
		width: 100%;
		font-size: 16px;
	}

	#sidebar-wrapper .fa{
		font-size: 16px;
		margin-top: -30px;
	}

	.navbar-collapse{
		width: 100%;
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
	}

	.sidebar-nav{
		margin-top: 1% !important;
	}

	.navbar-collapse-red{
		background-color: #cb4335 !important;
	}

	.navbar-collapse-blue{
		background-color: #2e86c1 !important;
	}

	.navbar-collapse-black{
		background-color: #17202a !important;
	}

	.navbar-collapse-green{
		background-color: #229954 !important;
	}

	.navbar-collapse-purple{
		background-color: #7d3c98 !important;
	}

	.container-section{
		margin-bottom: 20%;
		top: 20px !important;
	}

	.dropdown-menu li a{
		color: #fff !important;
	}

	.navbar-toggle{
		opacity: 1;
		display: block;
		margin-top: -50px;
	}
	.sidebar-brand img{
		width: 30%;
		max-width: 50px;
		margin-top: 5px;
	}

}

